<div class="about">
    <h1 class="about-heading">Hate solo Qing?</h1>
    <h2 class="about-headingtwo">Random teammates don't fit your playstyle or make bad plays?</h2>
    <p class="subhead">Find your perfect teammates with qUp!</p>
    <app-signup-button class="button"></app-signup-button>
</div>
<div class="supportedgames-container">
    <h3>Current supported Games on qUp</h3>
    <mat-card *ngFor="let supportedGame of supportedGames">
        <mat-card-header>
            <mat-card-title>{{supportedGame?.game}}</mat-card-title>
        </mat-card-header>

        <img mat-card-image src={{supportedGame?.logoURL}} alt="Game Logo" />


    </mat-card>
</div>