.about{
    margin: 60px 20px 100px 20px;
}

.about-heading{
    font-size: 23px;
    font-weight: 700;

}

.about-headingtwo{
    font-size: 18px;
    font-weight: 500;

}

.subhead{

}

@media only screen and (min-width: 768px){


}
