<div class="about">
    <h1 class="about-heading">Hate solo Qing?</h1>
    <h2 class="about-headingtwo">Random teammates don't fit your playstyle or make bad plays?</h2>
    <p class="subhead">Find your perfect teammates with qUp!</p>
    <app-signup-button class="button"></app-signup-button>
</div>
<div>
    <h3>Current supported Games on qUp</h3>
    <div *ngFor="let supportedGame of supportedGames">
        <p>{{supportedGame?.game}}</p>
        <img src={{supportedGame?.logoURL}} alt="Game Logo" />
    </div>
</div>