.about-heading{
    font-size: 23px;
    font-weight: 700;

}

.about-headingtwo{
    font-size: 18px;
    font-weight: 500;

}

.supportedgames-container{

}

mat-card{
    max-height: 300px;
    border: 0.1px outset lightgrey;
    margin-bottom: 20px;
}

.game-img-container{
    display: flex;
    height: 250px;
}

.game-img{
    width: 100%;
    object-fit: contain;
}

@media only screen and (min-width: 768px){

    .supportedgames-container{
        display: flex;
    }

    mat-card{
        margin-right: 20px;
    }

    .game-img-container{
        width: 300px;
    }
    
    .game-img{
        height: 100%;
        object-fit: cover;
        
    }
    

    




}
